* {
    margin: 0;
    color: #93e2ff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #023E8A;
    padding: 0 2.0vw;
    height: 5.0vmax;
}

.head h1{
    font-size: 4.0vw;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.0vw;
}

.navBar a{
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1.0vw;
    min-width: 5.0vw;
    text-align: center;
}

.navBar a:hover{
    background-color: #0077B6;
    color: white;
    border-radius: 0.2vw;
    transform: scale(1.1);
}

.entryVideo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.entryVideo video{
    width: 100.0vw;
    height: 100%;
}

.videoLayer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

@keyframes appear {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

.videoText{
    position: relative;
    font-size: 5.0vw;
    text-align: center;
    text-shadow: #000000 0.2vw 0.2vw 0.2vw;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    animation: appear 3s 0s linear;
}

.videoText:hover{
    transform: scale(1.1);
}

.videoControls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoControls i{
    font-size: 10.0vw;
    color: #023E8A;
    text-shadow: #000000 0.2vw 0.2vw 0.2vw;
    cursor: pointer;
}

.videoControls i:hover{
    transform: scale(1.1);
}

.videoControls i:active{
    text-shadow: #000000 -0.2vw 0.2vw 0.2vw;
    transform: scale(0.9);
}

.imageSlider {
    background-image: url(./images/us_flag.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100.0vw;
    height: 50vw;
}

.imagesOfLogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

@keyframes elephant {
    from {
        transform: translateX(-40vw);
    }

    to {
        transform: translateX(7.0vw);
    }
}

.imageRepublic {
    animation: elephant 1.5s 0s alternate infinite;
    width: 40vw;
}

@keyframes donkey {
    from {
        transform: translateX(40vw);
    }

    to {
        transform: translateX(-7.0vw);
    }
}

.imageDemocrat {
    animation: donkey 1.5s 0s alternate infinite;
    width: 40vw;
}

.percentageOfLogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.percentDemocrat, .percentRepublic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.0vw;
    text-align: center;
    text-shadow: #515151 0.1vw 0.1vw 0.1vw;

}

.percentRepublic {
    width: 50vw;
    height: 50vw;
}

.percentDemocrat {
    width: 50vw;
    height: 50vw;
}

.percentRepublic:hover {
    background-color: rgba(10, 49, 97, 0.5);
}

.percentDemocrat:hover {
    background-color: rgba(179, 25, 66, 0.5);
}

.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabButton{
    flex: 1;
    text-align: center;
    color: #515151;
    font-size: 3.0vw;
    padding: 1.0vh 1.0vw;
    height: 7.0vmax;
    border: none;
}

.description{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55.0vmax;
    overflow: hidden;
    white-space: nowrap;
}

/*ritwik edits - 24/10*/
.tableCover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/tableBackground.png);
    background-position: center;
    background-size: cover;
}

.tableHeading
{
    text-align: center;
    font-size: 5.0vw;
    color: #ad1940;
    text-shadow: rgb(255 169 169) 0.1vw 0.1vw 0vw;
    margin-top: 2.0vh;
}

.filterWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96.0vw;
    padding: 2.0vw;
    gap: 1.0vw;
}

.filter{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

.filter p{
    font-size: 2.0vw;
    color: #93e2ff;
    text-shadow: rgba(1, 1, 1, 0.9) 0.2vw 0.1vw 0vw;
}

.filter .filterButton{
    display: flex;
    margin: 0 auto;
    font-size: 2.0vw;
    color: #93e2ff;
    background-color: #ad1940;
    box-shadow: 0 0 1vmin #000000a5;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 2.0vw;
    text-align: center;
    cursor: pointer;
    appearance: none;
    background-image: url("./images/down-arrow-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: right 1.0vw top 50%;
    background-size: 4.0vw;
}

.filterButton:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.senatorsList
{
    text-align: center;
}

.tableWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.0vw;
    padding: 2.0vw;
}

.mainTable
{
    width: 100%;
    border-collapse: collapse;
    border: 0.2vmin solid #93e2ff;
    box-shadow: 0 0 2vmin #000000a5;
}


.tableHeadRow
{
    text-align: center;
    background-color: rgba(6, 99, 199, 0.3);
    height: 7.0vmax;
}

.tableHeadRow th
{
    font-size: 3.0vw;
    color: #ad1940;
    text-shadow: rgb(255 169 169) 0.1vw 0.1vw 0vw;
}

.mainTable .info
{
    background-color: rgba(173, 25, 64, 0.3);
}

.info td
{
    font-size: 1.5vw;
    text-align: center;
    color: #93e2ff;
    padding: 1.0vw;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.0vw;
    height: 20.0vmax;
    width: 96.0vw;
    padding: 2.0vw;
    background-color: #b0294d;
}

.memberSummary{
    flex: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.memberSummaryName{
    font-size: 1.5vw;
}

.switchMember{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

.switchMember button{
    font-size: 1.0vw;
    width: 15.0vw;
    height: 3.0vw;
    background-color: #023E8A;
    border: solid 0.1vmax #93e2ff;
    border-radius: 0.3vmax;
    cursor: pointer;
    box-shadow: #4e4e4ecc 0.2vw 0.2vw 0.2vw;

    &:active{
        text-shadow: #000000 -0.2vw 0.2vw 0.2vw;
        transform: scale(0.9);
    }
}

.socialLinks{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

.socialLinks a{
    text-decoration: none;
}

.socialLinks i{
    display: flex;
    align-items: center;
    gap: 1.0vw;
    font-size: 2.0vmax;
    text-shadow: #4e4e4ecc 0.2vw 0.2vw 0.2vw;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        text-shadow: #ffffff7d -0.2vw 0.2vw 0.2vw;
        transform: scale(0.9);
    }
}

.socialLinks i span{
    font-size: 1.0vmax;
    text-shadow: #4e4e4ecc 0.2vw 0.2vw 0.2vw;
    cursor: pointer;
}