* {
    margin: 0;
    color: #93e2ff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* https://www.digitalocean.com/community/tutorials/css-scrollbars */

*::-webkit-scrollbar {
    width: 0vmin;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #023E8A;
    padding: 0 2.0vw;
    height: 5.0vmax;
}

.head h1 {
    font-size: 4.0vw;
    text-shadow: 0.1vw 0.1vw 0.4vw #000000ba;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.0vw;
}

.navBar a {
    text-decoration: none;
    font-size: 1.5vw;
    text-shadow: 0.1vw 0.1vw 0.4vw #000000ba;
    padding: 1.0vw;
    min-width: 5.0vw;
    text-align: center;
}

.navBar a:hover {
    background-color: #0077B6;
    color: white;
    border-radius: 0.2vw;
    transform: scale(1.1);
}

.navBar a:active {
    transform: scale(0.9);
}

.entryVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.entryVideo video {
    width: 100.0vw;
    height: 100%;
}

.videoLayer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

@keyframes appear {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

.videoText {
    position: relative;
    font-size: 5.0vw;
    text-align: center;
    padding: 1.0vw;
    text-shadow: #000000 0.2vw 0.0vw 0.3vw;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    animation: appear 3s 0s linear;
}

.videoText:hover {
    transform: scale(1.1);
}

.videoControls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoControls i {
    font-size: 10.0vw;
    color: #023E8A;
    text-shadow: #000000 0.4vw 0.0vw 0.3vw;
    cursor: pointer;
}

.videoControls i:hover {
    transform: scale(1.1);
}

.videoControls i:active {
    transform: scale(0.9);
}

.imageSlider {
    background-image: url(./images/us_flag.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100.0vw;
    height: 50vw;
}

.imagesOfLogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

@keyframes elephant {
    from {
        transform: translateX(-40vw);
    }

    to {
        transform: translateX(7.0vw);
    }
}

.imageRepublic {
    animation: elephant 1.5s 0s alternate infinite;
    width: 40vw;
}

@keyframes donkey {
    from {
        transform: translateX(40vw);
    }

    to {
        transform: translateX(-7.0vw);
    }
}

.imageDemocrat {
    animation: donkey 1.5s 0s alternate infinite;
    width: 40vw;
}

.percentageOfLogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.percentDemocrat,
.percentRepublic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.0vw;
    text-align: center;
    text-shadow: #515151 0.1vw 0.1vw 0.1vw;

}

.percentRepublic,
.percentDemocrat {
    width: 50vw;
    height: 50vw;
}

.percentRepublic:hover {
    background-color: rgba(10, 49, 97, 0.5);
}

.percentDemocrat:hover {
    background-color: rgba(179, 25, 66, 0.5);
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabButton {
    flex: 1;
    text-align: center;
    color: #515151;
    text-shadow: #5151518a 0.2vw 0.2vw 0.4vw;
    font-size: 4.0vw;
    padding: 1.0vh 1.0vw;
    height: 7.0vmax;
    border: none;
}

.description{
    white-space: nowrap;
    overflow-x: scroll;
    padding: 2.0vh 2.0vw;
    height: 50.0vh;
}

.description .tableOfTabs{
    margin: auto;
    height: 100%;
}

.contentName{
    text-align: right;
}

.contentName, .contentTitle{
    font-size: 3.0vw;
    color: #93e2ff;
    text-shadow: rgba(1, 1, 1, 0.9) 0.2vw 0.2vw 0.2vw;
}

/*ritwik edits - 24/10*/
.tableCover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/tableBackground.png);
    background-position: center;
    background-size: cover;
}

.tableHeading {
    text-align: center;
    font-size: 5.0vw;
    color: #ad1940;
    text-shadow: rgb(255 169 169) 0.1vw 0.1vw 0vw;
    margin-top: 2.0vh;
}

.filterWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96.0vw;
    padding: 2.0vw;
    gap: 1.0vw;
}

.filter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

.filter p {
    font-size: 2.0vw;
    color: #93e2ff;
    text-shadow: rgba(1, 1, 1, 0.9) 0.2vw 0.2vw 0.2vw;
}

.filter .filterButton {
    display: flex;
    margin: 0 auto;
    font-size: 2.0vw;
    color: #93e2ff;
    background-color: #ad1940;
    box-shadow: 0 0 1vmin #000000a5;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 2.0vw;
    text-align: center;
    cursor: pointer;
    appearance: none;
    background-image: url("./images/down-arrow-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: right 1.0vw top 50%;
    background-size: 4.0vw;
}

.filterButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ad1940;
    background-image: url("./images/up-arrow-svgrepo-com.svg");
    transition: all 0.3s ease-in-out;
}

.senatorsList {
    text-align: center;
}

.tableWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.0vw;
    padding: 2.0vw;
}

.mainTable {
    width: 100%;
    border-collapse: collapse;
    border: 0.2vmin solid #93e2ff;
    box-shadow: 0 0 2vmin #000000a5;
}


.tableHeadRow {
    text-align: center;
    background-color: rgba(6, 99, 199, 0.3);
    height: 7.0vmax;
}

.tableHeadRow th {
    font-size: 3.0vw;
    color: #ad1940;
    text-shadow: rgba(1, 1, 1, 0.9) 0.2vw 0.2vw 0.2vw;
}

.mainTable {
    background-color: rgba(173, 25, 64, 0.3);
}

.info td {
    font-size: 1.5vw;
    text-align: center;
    color: #93e2ff;
    text-shadow: rgba(1, 1, 1, 0.9) 0.2vw 0.2vw 0.2vw;
    padding: 1.0vw;
}

.info:hover {
    background-color: #ad1940;
}

.info:active {
    transform: scale(0.9);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.0vw;
    /* height: 10.0vh; */
    width: 96.0vw;
    padding: 2.0vw;
    background: rgb(171, 32, 72);
    background: linear-gradient(180deg, rgba(171, 32, 72, 1) 62%, rgba(255, 0, 0, 1) 100%);
}

.memberSummary {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.memberSummaryName {
    font-size: 2vw;
}

.memberSummaryDesc {
    font-size: 1.0vw;
}

.switchMember {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

.switchMember button {
    font-size: 1.0vw;
    width: 15.0vw;
    height: 3.0vw;
    background-color: #023E8A;
    border: solid 0.1vmax #93e2ff;
    border-radius: 0.3vmax;
    cursor: pointer;
    box-shadow: #4e4e4ecc 0.2vw 0.2vw 0.2vw;
}

.switchMember button:hover {
    text-shadow: #000000 -0.2vw 0.2vw 0.2vw;
    transform: scale(1.1);
}

.switchMember button:active {

    transform: scale(0.9);
}

.creatorImage img{
    width: 10.0vw;
    box-shadow: #000000cc 0.4vw 0.4vw 0.8vw;
}

.socialLinks {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

.socialLinks a {
    text-decoration: none;
}

.socialLinks i {
    display: flex;
    align-items: center;
    gap: 1.0vw;
    font-size: 2.0vw;
    text-shadow: #4e4e4ecc 0.2vw 0.2vw 0.2vw;
    cursor: pointer;
}

.socialLinks i:hover {
    transform: scale(1.1);
}

.socialLinks i:active {
    transform: scale(0.9);
}

.socialLinks i span {
    font-size: 1.0vw;
    text-shadow: #4e4e4ecc 0.2vw 0.2vw 0.2vw;
    cursor: pointer;
}

.senatorDetailsTableWrapper {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
    position: fixed;
    top: 10.0vh;
    left: 10.0vw;
    width: 70.0vw;
    height: 70.0vh;
    padding: 5.0vh 5.0vw;
    background-color: rgba(2, 61, 138, 0.8);
    border-radius: 1.0vmax;
}

.senatorDetailsTop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

.senateImage{
    width: 20.0vmin;
    box-shadow: #000000cc 0.4vw 0.4vw 0.8vw;
}

.senatorDetailsWrapper {
    width: 70.0vw;
    z-index: 2;
    white-space: nowrap;
    overflow: auto;
}

.senatorDetails {
    margin: auto;
    font-size: 1.5vw;
}

.senateRow{
    padding: 1.0vh 1.0vw;
    text-shadow: #00000093 0.2vw 0.2vw 0.2vw;
}

.senateInfo{
    color: #c30d3d;
}

.close {
    width: 100%;
    padding: 1.0vw;
    border-radius: 0.2vmax;
    border: none;
    background-color: #ad1940;
    font-size: 1.0vw;
}

.close:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ad1940;
    transform: scale(1.1);
    border: solid 0.1vmax #ad1940;
    transition: all 0.1s ease-in-out;
}