* {
    margin: 0;
    color: #CAF0F8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #023E8A;
    padding: 0 2.0vw;
    height: 5.0vmax;
}

.head h1{
    font-size: 4.0vw;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.0vw;
}

.navBar a{
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1.0vw;
    min-width: 5.0vw;
    text-align: center;
}

.navBar a:hover{
    background-color: #0077B6;
    color: white;
    border-radius: 0.2vw;
    transform: scale(1.1);
}

.imageSlider {
    background-image: url(./images/us_flag.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100.0vw;
    height: 50vw;
}

.entryVideo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.entryVideo video{
    width: 100.0vw;
    height: 100%;
}

.videoLayer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.0vw;
}

@keyframes appear {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

.videoText{
    position: relative;
    font-size: 5.0vw;
    text-align: center;
    text-shadow: #000000 0.2vw 0.2vw 0.2vw;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    animation: appear 3s 0s linear;
}

.videoText:hover{
    transform: scale(1.1);
}

.videoControls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoControls i{
    font-size: 10.0vw;
    color: #023E8A;
    text-shadow: #000000 0.2vw 0.2vw 0.2vw;
    cursor: pointer;
}

.videoControls i:hover{
    transform: scale(1.1);
}

.videoControls i:active{
    text-shadow: #000000 -0.2vw 0.2vw 0.2vw;
    transform: scale(0.9);
}

.imagesOfLogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

@keyframes elephant {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(40%);
    }
}

.imageRepublic {
    animation: elephant 2s 0s alternate infinite;
    max-width: 50vw;
}

@keyframes donkey {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-40%);
    }
}

.imageDemocrat {
    animation: donkey 2s 0s alternate infinite;
    max-width: 50vw;
}

.percentageOfLogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.percentDemocrat, .percentRepublic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.0vw;
    text-align: center;
    text-shadow: #515151 0.1vw 0.1vw 0.1vw;

}

.percentRepublic {
    width: 50vw;
    height: 50vw;
}

.percentDemocrat {
    width: 50vw;
    height: 50vw;
}

.percentRepublic:hover {
    background-color: rgba(179, 25, 66, 0.4);
}

.percentDemocrat:hover {
    background-color: rgba(10, 49, 97, 0.4);
    content: "Democrat";
}

.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabButton{
    flex: 1;
    text-align: center;
    color: #515151;
    font-size: 3.0vw;
    padding: 1.0vh 1.0vw;
    border: none;
}

.tabButton:hover{
    transform: scale(1.1);
    border: solid 2px rgba(0, 0, 0, 0.546);
}

.description{
    display: flex;
    align-items: center;
    justify-content: space-around;
}